<template>
  <a href="https://anabasis.sdbs.cz/clients.html" target="_blank" :class="[ `clients`, `clients--status-${level}` ]">
    <strong class="clients__status">{{ status || '???' }}</strong>
    <div class="clients__devices">({{ count || '?' }} device<span v:if="count && count > 1">s</span> online)</div>
  </a>
</template>

<script>

export default {
  name: 'Clients',
  data: () => {
    return {
      level: undefined,
      status: undefined,
      count: undefined
    }
  },
  computed: {
    statusColor() {
      switch (this.level) {
        case 0:
          return 'white';
        case 1:
        case 2:
          return 'green';
        default:
          return 'gray';
      }
    }
  },
  methods: {
    async update() {
      const response = await fetch('https://anabasis.sdbs.cz/clients.html')
      const clientsDocument = document.createElement('html')
      clientsDocument.innerHTML = await response.text()
      this.level = parseInt(clientsDocument.querySelector('.level').textContent)
      this.status = clientsDocument.querySelector('.status').textContent
      this.count = Array.from(clientsDocument.querySelectorAll('.current-lease')).length
    }
  },
  mounted() {
    setInterval(() => {
      this.update()
    }, 60000);
    this.update()
  }
};
</script>

<style scoped>
.clients {
  height: 40px;
  padding: 0 10px;
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 5px;
  font-size: 12px;
  outline: 0;
  color: #999;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {

  .clients {
    display: none;
  }

}

.clients__status {
  font-weight: 700;
}

.clients--status-1 .clients__status {
  color: #00af91;
}

.clients--status-2 .clients__status {
  color: #ff7b54;
}
</style>
